<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <buckets.syncBucket>
        <processor type="Sitecore.Support.Buckets.Pipelines.BucketOperations.SyncBucket.RunSyncProcess, Sitecore.Support.452872" patch:instead="processor[@type='Sitecore.Buckets.Pipelines.BucketOperations.SyncBucket.RunSyncProcess, Sitecore.Buckets']" />
      </buckets.syncBucket>
    </pipelines>
  </sitecore>
</configuration>